In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import plotly.plotly as ply
import plotly.graph_objs as go
from datetime import datetime

In [2]:
mol_2016 = pd.read_csv(r'C:\Users\alejandro.m.gizzi\Documents\Mine\Mol 2016.csv', sep=";")
mol_2017 = pd.read_csv(r'C:\Users\alejandro.m.gizzi\Documents\Mine\Mol 2017.csv', sep=";")
mol_2018 = pd.read_csv(r'C:\Users\alejandro.m.gizzi\Documents\Mine\Mol 2018.csv', sep=",")

In [3]:
mol_2017 = mol_2017.drop(['ID'],axis=1)
mol_2018.columns = mol_2017.columns


mol_2016['FECHA'] = pd.to_datetime(pd.Series(mol_2016['FECHA']), format="%d/%m/%Y")
mol_2017['FECHA'] = pd.to_datetime(pd.Series(mol_2017['FECHA']), format="%d/%m/%Y")
mol_2018['FECHA'] = pd.to_datetime(mol_2018['FECHA'])


mol_2016['Month'] = pd.DatetimeIndex(mol_2016['FECHA']).month
mol_2016['Year'] = pd.DatetimeIndex(mol_2016['FECHA']).year

mol_2017['Month'] = pd.DatetimeIndex(mol_2017['FECHA']).month
mol_2017['Year'] = pd.DatetimeIndex(mol_2017['FECHA']).year

mol_2018['Month'] = pd.DatetimeIndex(mol_2018['FECHA']).month
mol_2018['Year'] = pd.DatetimeIndex(mol_2018['FECHA']).year

In [4]:
#-------------------------trash-----------------------------------------------------|
#mol_2018.rename(columns={'fecha': 'FECHA'}, inplace=True)
#mol_2018.rename(columns={'total': 'TOTAL'}, inplace=True)
#mol_2018['fecha'] = pd.to_datetime(pd.Series(mol_2018['fecha']), format="%d/%m/%Y")|
#mol_2016['Mes'] = mol_2016['PERIODO']                                              |
#mol_2016['Mes'] = mol_2016['FECHA'].Month                                          |
#mol_2016['Mes'] = mol_2016['FECHA'].Year                                           |
#df['Mes'] = df['Mes'].str[-2:]                                                     |
#mol_2016_Totpagos = mol_2016.set_index('Month', inplace=False)                     |
#mol_2016_Totpagos = mol_2016.groupby(level=0)['TOTAL'].sum()                       |
#mol_2016_Totpagos                                                                  |
#-------------------------trash-----------------------------------------------------|

In [ ]:

TotPag16 = mol_2016
TotPag16.set_index(["Year","Month"], inplace=True)
TotPag16 = TotPag16.sum(level=["Year","Month"])
mol_2016 = mol_2016.reset_index()

TotPag17 = mol_2017
TotPag17.set_index(["Year","Month"], inplace=True)
TotPag17 = TotPag17.sum(level=["Year","Month"])
mol_2017 = mol_2017.reset_index()

TotPag18 = mol_2018
TotPag18.set_index(["Year","Month"], inplace=True)
TotPag18 = TotPag18.sum(level=["Year","Month"])
mol_2018 = mol_2018.reset_index()

In [ ]:
TotPaghist = TotPag16.append(TotPag17, ignore_index=False)
TotPaghist = TotPaghist.append(TotPag18, ignore_index=False)
TotPaghist = TotPaghist.drop(['PERIODO','PAX_PAGOS','PAX_PASES_PAGOS','PAX_FRANQ'],axis=1)

In [ ]:
#TotPaghist.reset_index(inplace=True)
TotPaghist

                 TOTAL
Year Month
2016 1      17899706.0
     2      18596967.0
     3      24814453.0
     4      27052456.0
     5      27980199.0
     6      26889334.0
     7      26951270.0
     8      30894806.0
     9      30836139.0
     10     29661269.0
     11     28587403.0
     12     24254189.0
2017 1      18552911.0
     2      17883468.0
     3      28632609.0
     4      25661548.0
     7      28746616.0
     5      29630326.0
     6      29171034.0
     9      30566250.0
     8      31092495.0
     10     31473514.0
     11     30915093.0
     12     26375861.0
2018 1      22882021.0
     2      23509983.0
     3      28779449.0
     4      38734630.0
     5      29725865.0
     6      29268788.0
     7      27876015.0
     8      31237736.0
     9      37833227.0
     10     29335351.0
     11     30456231.0
     12     16380372.0

In [ ]:
#fig, ax = plt.subplots(figsize=(50,5))
#ax.plot(TotPaghist['Year'].map(str) + " " + TotPaghist['Month'].map(str), TotPaghist['TOTAL'], color='r')
#plt.show()

In [ ]:
#fig, ax = plt.subplots(figsize=(50,5))
#ax.scatter(TotPaghist['Year'].map(str) + " " + TotPaghist['Month'].map(str), TotPaghist['TOTAL'], edgecolors='r')
#plt.show()

In [ ]:
ALLMOL = mol_2016.append(mol_2017, ignore_index=False)
ALLMOL = ALLMOL.append(mol_2018, ignore_index=False)

In [ ]:
fig, ax = plt.subplots(figsize=(50,5))
ax.plot_date(ALLMOL['FECHA'], ALLMOL['TOTAL'], color='r')
plt.show()

In [ ]:
data = [go.Scatter(x=ALLMOL['FECHA'], y=ALLMOL['TOTAL'])]

ply.iplot(data, filename = 'time-series-simple')